#formulario >h2{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
#formulario{
    margin-top: 2%;
    width: 60%;
    padding: 3%;
    margin-left: 20%;
    background-color:  #D4ECEC;
    border-radius: 20px;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border: 1p solid  #D4ECEC;
}